@model WhereDoesThisLinkGo.Models.UrlViewModel

@{
    ViewBag.Title = "Where Does This Link Go?";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Url"))
{
    @Html.TextBoxFor(m => m.ShortenedUri)
    <input type="submit" value="Expand" />
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="error">@Model.ErrorMessage</div>
}

<div class="result">@Model.Result</div>